@*@model Reservation
<div class="card">
    
    
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Reservation details</h5>
        <h5 class="card-text">Clinic: @Model.Clinic.Name</h5>
        <h5 class="card-text">Doctor: @Model.Doctor.FirstName @Model.Doctor.LastName</h5>
        <h5 class="card-text">Patient's Name:@Model.User.FirstName @Model.User.LastName</h5>
        <p class="card-text">Appointment Date: @Model.AppointmentDate.ToString()</p>

    </div>
    
    

</div>*@
@model Reservation

<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Reservation details</h5>
        <h5 class="card-text">Clinic: @Model.Clinic.Name</h5>
        <h5 class="card-text">Doctor: @Model.Doctor.FirstName @Model.Doctor.LastName</h5>
        <h5 class="card-text">Patient's Name: @Model.User.FirstName @Model.User.LastName</h5>
        <p class="card-text">Appointment Date: @Model.AppointmentDate.ToString()</p>

        <!-- Delete Button -->
        <form asp-action="CancelReservation" asp-controller="Reservation" method="post" class="mt-3">
            <input type="hidden" name="reservationId" value="@Model.Id" />
            <button type="submit" class="btn btn-danger">Delete Reservation</button>
        </form>
    </div>
</div>



